%p
  %h3= t('.hello')
%p
  %h3= t('.i18n_desc')

:markdown
  ### Time
  ```ruby
  l(Time.now) #=> #{l(Time.now)}
  ```

  ### Time with format
  ```ruby
  l(Time.now, format: :short) #=> #{l(Time.now, format: :short)}
  ```

  ### Date
  ```ruby
  l(Date.today) #=> #{l(Date.today)}
  ```

  ### Date with format
  ```ruby
  l(Date.today, format: :short) #=> #{l(Date.today, format: :short)}
  ```

  ### number_to_currency
  ```ruby
  number_to_currency(12.3) #=> #{number_to_currency(12.3)}
  ```

  ### number_to_percentage
  ```ruby
  number_to_percentage(75) #=> #{number_to_percentage(75)}
  ```

  ### number_to_human
  ```ruby
  number_to_human(14_567_890) #=> #{number_to_human(14_567_890)}
  ```

  ### number_to_human_size
  ```ruby
  number_to_human_size(52_612_345) #=> #{number_to_human_size(52_612_345)}
  ```
